html {
    font-size: 20px;
    font-family: sans-serif;
}
body {
    margin: 0px;
    background-color: lightgray;
}

header {
    color: white;
    background-color: royalblue;
    padding: .25rem;
    display: grid;
    grid-template-columns: auto auto;
}
header h2 {
    padding-left: 1rem;
}
header p {
    text-align: right;
    padding-right: 1rem;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
}
.container form, .container div {
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    flex: 1;
}

input {
    width: 100%;
    height: 1.5rem;
}
button {
    color: white;
    background-color: royalblue;
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
}
.total {
    text-align: right;
}

.item {
    border-bottom-style: solid;
    display: flex;
    gap: 1rem;
}