html {
    font-size: 20px;
    font-family: sans-serif;
    background-color: lightgray;
}
body {
    margin: 0px;
}

header {
    color: white;
    background-color: royalblue;
    padding: .25rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
header h2 {
    padding-left: 1rem;
}
header p {
    text-align: right;
    padding-right: 1rem;
}

.container {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    padding: 2rem;
}

#inventoryForm, #inventory {
    flex: 1;
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
}

input {
    width: 100%;
    height: 1.5rem;
}
button {
    color: white;
    background-color: royalblue;
    border-radius: .5rem;
}
.reduce {
    width: 5rem;
    height: 2.5rem;
}

#add {
    margin-top: 1rem;
    width: 100%;
    height: 2rem;
}
.total {
    text-align: right;
}

.item {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: .25rem;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .container form, .container div {
        width: 80%;
    }
}
